---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  sources:
    - repoURL: https://charts.jetstack.io
      chart: cert-manager
      targetRevision: v1.19.1
      helm:
        releaseName: cert-manager
        valuesObject:
          crds:
            enabled: true
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 32Mi
          webhook:
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 32Mi
          cainjector:
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 64Mi
          startupapicheck:
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 32Mi
    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/cert-manager
