---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: cilium
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  sources:
    - repoURL: https://helm.cilium.io
      chart: cilium
      # Cannot update to 1.18.x until https://github.com/cilium/cilium/issues/41996 is resolved or master kernel is updated
      targetRevision: 1.19.1
      helm:
        releaseName: cilium
        valuesObject:
          operator:
            replicas: 1

          envoy:
            # Use custom envoy image for raspberry pi support
            image:
              repository: docker.io/apetutschnig/rpi-cilium-envoy
              tag: 1.34.4
              useDigest: false

          # Certificate managed via cronjob to avoid argocd reconciliation issues
          hubble:
            tls:
              auto:
                method: cronJob

          kubeProxyReplacement: true
          # K3s proxy api server in localhost:6444 on each node
          k8sServiceHost: 127.0.0.1
          k8sServicePort: 6444

          l2announcements:
            enabled: true
          k8sClientRateLimit:
            qps: 40
            burst: 60

          gatewayAPI:
            enabled: true

    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/cilium

    - repoURL: https://github.com/kubernetes-sigs/gateway-api
      targetRevision: v1.4.1
      path: config/crd/standard
