---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: immich
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  sources:
    - repoURL: https://immich-app.github.io/immich-charts
      chart: immich
      targetRevision: 0.10.3
      helm:
        releaseName: immich
        valuesObject:
          controllers:
            main:
              containers:
                main:
                  image:
                    # renovate: datasource=github-releases depName=immich packageName=immich-app/immich
                    tag: v2.5.5
          immich:
            persistence:
              library:
                existingClaim: photo-library
          server:
            controllers:
              main:
                containers:
                  main:
                    env:
                      - name: IMMICH_MACHINE_LEARNING_URL
                        value: http://immich-machine-learning:3003
                      - name: REDIS_HOSTNAME
                        value: immich-valkey
                      - name: DB_HOSTNAME
                        value: cloudnative-pg-cluster-rw.cnpg-system.svc.cluster.local
                      - name: DB_DATABASE_NAME
                        value: immich
                      - name: DB_USERNAME
                        valueFrom:
                          secretKeyRef:
                            name: immich-pg-user
                            key: username
                      - name: DB_PASSWORD
                        valueFrom:
                          secretKeyRef:
                            name: immich-pg-user
                            key: password
                    resources:
                      requests:
                        cpu: 10m
                        memory: 1.5Gi
                      limits:
                        memory: 1.5Gi
            route:
              main:
                parentRefs:
                  - name: star-fuochi-top
                    namespace: cilium
                    sectionName: https
                hostnames:
                  - immich.fuochi.top
                rules:
                  - matches:
                      - path:
                          type: PathPrefix
                          value: /
                    backendRefs:
                      - name: immich-server
                        port: 2283
          machine-learning:
            enabled: true
            controllers:
              main:
                containers:
                  main:
                    resources:
                      requests:
                        cpu: 10m
                        memory: 1.5Gi
                      limits:
                        memory: 1.5Gi
            persistence:
              cache:
                enabled: true
                type: persistentVolumeClaim
                size: 10Gi
                storageClass: nfs-csi
          valkey:
            enabled: true
            controllers:
              main:
                containers:
                  main:
                    resources:
                      requests:
                        cpu: 10m
                        memory: 64Mi
                      limits:
                        memory: 64Mi
            persistence:
              data:
                enabled: true
                type: persistentVolumeClaim
                size: 1Gi
                storageClass: nfs-csi
    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/immich
