---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: system-upgrade-controller
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: system-upgrade
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  sources:
    - repoURL: https://github.com/rancher/system-upgrade-controller
      targetRevision: v0.17.0
      path: .
    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/system-upgrade-controller
