---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflare-tunnel
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: cloudflare
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  sources:
    - repoURL: https://cloudflare.github.io/helm-charts
      chart: cloudflare-tunnel-remote
      targetRevision: 0.1.2
      helm:
        releaseName: cloudflare-tunnel-remote
        valuesObject:
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 32Mi
          # Still not working because of https://github.com/cloudflare/helm-charts/pull/68
          secret: cloudflare-tunnel-remote
          image:
            # renovate: datasource=docker packageName=cloudflare/cloudflared
            tag: 2026.2.0
          replicaCount: 1
    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/cloudflare-tunnel
