---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  source:
    repoURL: https://argoproj.github.io/argo-helm
    chart: argo-cd
    targetRevision: 9.4.0
    helm:
      releaseName: argocd
      valuesObject:
        global:
          domain: deploy.fuochi.top
          logging:
            format: text
            level: info
          securityContext: {}

          networkPolicy:
            create: true
            defaultDenyIngress: false

        configs:
          cm:
            create: true
          params:
            create: true
            # TLS termination on ingress
            server.insecure: true
          rbac:
            create: true
            policy.csv: |
              g, admin, role:admin
          secret:
            createSecret: true

        ## Application controller
        controller:
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 512Mi

        ## Redis
        redis:
          readinessProbe:
            enabled: true
          livenessProbe:
            enabled: true

          resources:
            limits:
              memory: 32Mi
            requests:
              cpu: 100m
              memory: 32Mi

          serviceAccount:
            create: true

        ## Server
        server:
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 128Mi

          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-issuer
            tls: true

          httproute:
            enabled: true
            hostnames:
              - deploy.fuochi.top
            parentRefs:
              - name: star-fuochi-top
                namespace: cilium
                sectionName: https

        ## Repo Server
        repoServer:
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 128Mi

          serviceAccount:
            create: true

          rbac:
            - apiGroups:
                - argoproj.io
              resources:
                - applications
              verbs:
                - get
                - list
                - watch

        ## ApplicationSet controller
        applicationSet:
          resources:
            limits:
              memory: 64Mi
            requests:
              cpu: 100m
              memory: 64Mi

          readinessProbe:
            enabled: true

          livenessProbe:
            enabled: true

          allowAnyNamespace: true

        ## Disable unused components
        notifications:
          enabled: false
          serviceAccount:
            create: false

        dex:
          enabled: false
          serviceAccount:
            create: false
