---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: eso
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: external-secrets-operator
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
      - ServerSideApply=true
  sources:
    - repoURL: https://charts.external-secrets.io/
      chart: external-secrets
      targetRevision: 1.1.1
      helm:
        releaseName: external-secrets
    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/eso
