---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cnpg-cluster
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: cnpg-system
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  sources:
    - repoURL: https://cloudnative-pg.github.io/charts
      chart: cluster
      targetRevision: 0.3.1
      helm:
        releaseName: cloudnative-pg
        valuesObject:
          cluster:
            instances: 1
            imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.5-0.3.0
            roles:
              - name: immich
                login: true
                passwordSecret:
                  name: immich-pg-user
                connectionLimit: -1
                ensure: present
                inherit: true
              - name: sonarr
                login: true
                passwordSecret:
                  name: sonarr-pg-user
                connectionLimit: -1
                ensure: present
                inherit: true
            resources:
              requests:
                memory: 768Mi
                cpu: 200m
              limits:
                memory: 768Mi
            storage:
              size: 50Gi
              storageClass: nfs-csi
            postgresql:
              parameters:
                shared_buffers: 128MB
              shared_preload_libraries:
                # needed by immich
                - 'vchord.so'
    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/cnpng-databases
