---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csi-driver-nfs
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - FailOnSharedResource=true
  sources:
    - repoURL: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
      chart: csi-driver-nfs
      targetRevision: 4.11.0
      helm:
        releaseName: csi-driver-nfs
        valuesObject:
          storageClass:
            create: true
            name: nfs-csi
            parameters:
              server: nas.fuochi.top
              share: /share01
              subDir: ignikube/${pvc.metadata.name}
              mountPermissions: '0'
            reclaimPolicy: Retain
            volumeBindingMode: Immediate
            mountOptions:
              - hard
              - nfsvers=4.2
    - repoURL: https://github.com/Fuochi/ignikube.git
      targetRevision: main
      path: apps/csi-nfs
